<p id="notice"><%= notice %></p>






<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">New Review</h2>
        <div class="row text-center">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <span class="fa-stack fa-4x">
        <i class="fas fa-circle fa-stack-2x text-primary"></i>
        <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
    </span>
    <p class="text-muted">
      <strong>Title:</strong>
      <%= @storage.title %>
    </p>
    <p class="text-muted">
      <%= link_to 'View File', @storage.file %>
    </p>
    <p class="text-muted">
      <strong>Description:</strong>
  <%= @storage.description %>
    </p>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
    </div>
      </div>
    </div>
  </div>
  </div>
</section>
