<div class = "product">
    <h2>
        <% if show_link %>
            <%=link_to product.name, product%>
        
        <% end %>
    <h2>
    <% if product.image.present? %>
        <p>
            <%= image_tag product.image_url(:thumb) %>
        </p>
    <% end %>
   
    <p>
        <b>Price:</b> $<%= product.price%>
    </p>
        <% if in_show %>
           <p>
                <b>Item Type: </b> <%= product.item_type%>
            </p>
            <p>
                <b>Quantity: </b> <%= product.quantity%>
            </p>
        <% end %>
</div>